*{
    box-sizing: border-box;
}

body{
    background-color: #c9d2fc;
}

.cat-head{
    width: 205px;
    height: 180px;
    border: 1px solid #000;
    border-radius: 46%;
}
/*#back-wall{
    background-color: #8b4513;
    width: 100%;
    height: 60%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}*/


